In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [53]:
prop=pd.read_csv(r"C:\Users\Guy\Desktop\Monash uni\S6\FIT3179\vis 2/data/Melbourne_Housing_Full.csv")
prop=prop[~prop.CouncilArea.isnull()]
prop=prop[prop.CouncilArea.str.contains("City")]
prop

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,lat,lon,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [81]:
suburb_rents=pd.read_csv("base_data_for_cleaning\suburb_rents.csv")

In [54]:
suburb_rents=pd.read_csv("base_data_for_cleaning\suburb_rents.csv")
suburb_rents["Suburb"]=pd.DataFrame(suburb_rents.Suburb.str.split("-"))
suburb_rents=suburb_rents.explode(column="Suburb")
suburb_rents

            Suburb  Median
0      Albert Park   500.0
0      Middle Park   500.0
0    West St Kilda   500.0
1         Armadale   440.0
2    Carlton North   580.0
..             ...     ...
144      Traralgon   345.0
145    Wanagaratta   330.0
146       Warragul   380.0
147    Warrnambool   360.0
148        Wodonga   350.0

[218 rows x 2 columns]

In [82]:
suburb_rents[suburb_rents.Suburb.str.contains("Box")]

      Suburb  Median
24  Box Hill   400.0

In [63]:
all_suburbs=prop.groupby(["Suburb","CouncilArea"]).Type.count().reset_index()
all_suburbs["Suburb"]=all_suburbs["Suburb"].str.title()
all_suburbs=all_suburbs[["Suburb","CouncilArea"]]
all_suburbs

           Suburb                 CouncilArea
0      Abbotsford          Yarra City Council
1      Aberfeldie  Moonee Valley City Council
2    Airport West  Moonee Valley City Council
3       Albanvale       Brimbank City Council
4     Albert Park   Port Phillip City Council
..            ...                         ...
305  Wyndham Vale        Wyndham City Council
306     Yallambie        Banyule City Council
307    Yarraville    Maribyrnong City Council
308       Croydon      Maroondah City Council
309      Viewbank        Banyule City Council

[310 rows x 2 columns]

In [64]:
merged=all_suburbs.merge(suburb_rents,on="Suburb",how="outer")
merged

           Suburb                 CouncilArea  Median
0      Abbotsford          Yarra City Council   430.0
1      Aberfeldie  Moonee Valley City Council     NaN
2    Airport West  Moonee Valley City Council     NaN
3       Albanvale       Brimbank City Council     NaN
4     Albert Park   Port Phillip City Council   500.0
..            ...                         ...     ...
375     Traralgon                         NaN   345.0
376   Wanagaratta                         NaN   330.0
377      Warragul                         NaN   380.0
378   Warrnambool                         NaN   360.0
379       Wodonga                         NaN   350.0

[380 rows x 3 columns]

In [65]:
merged.isnull().sum()

Suburb           0
CouncilArea     70
Median         161
dtype: int64

In [66]:
lga_meds=merged.groupby("CouncilArea").Median.mean().reset_index()
lga_meds.columns=["CouncilArea","lga_med"]

In [67]:
merged=merged.merge(lga_meds,how="left")
merged

           Suburb                 CouncilArea  Median     lga_med
0      Abbotsford          Yarra City Council   430.0  478.333333
1      Aberfeldie  Moonee Valley City Council     NaN  405.000000
2    Airport West  Moonee Valley City Council     NaN  405.000000
3       Albanvale       Brimbank City Council     NaN  381.428571
4     Albert Park   Port Phillip City Council   500.0  442.500000
..            ...                         ...     ...         ...
375     Traralgon                         NaN   345.0         NaN
376   Wanagaratta                         NaN   330.0         NaN
377      Warragul                         NaN   380.0         NaN
378   Warrnambool                         NaN   360.0         NaN
379       Wodonga                         NaN   350.0         NaN

[380 rows x 4 columns]

In [51]:
merged

           Suburb                 CouncilArea   Type  Median
0      Abbotsford          Yarra City Council  137.0   430.0
1      Aberfeldie  Moonee Valley City Council   80.0     NaN
2    Airport West  Moonee Valley City Council  162.0     NaN
3       Albanvale       Brimbank City Council   14.0     NaN
4     Albert Park   Port Phillip City Council  131.0   500.0
..            ...                         ...    ...     ...
375     Traralgon                         NaN    NaN   345.0
376   Wanagaratta                         NaN    NaN   330.0
377      Warragul                         NaN    NaN   380.0
378   Warrnambool                         NaN    NaN   360.0
379       Wodonga                         NaN    NaN   350.0

[380 rows x 4 columns]

In [71]:
merged.iloc[merged.Median.isnull(),2]=merged[merged.Median.isnull()].lga_med

In [73]:
merged[["Suburb","Median"]].to_csv("suburb_rents.csv")